In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Week2_challenge_data_source.xlsx to Week2_challenge_data_source.xlsx

In [ ]:
import io
data = pd.read_excel(io.BytesIO(uploaded['Week2_challenge_data_source.xlsx']))

In [ ]:
data.head()

              Bearer Id               Start  ...  Total UL (Bytes) Total DL (Bytes)
0  13114483460844900352 2019-04-04 12:01:18  ...        36749741.0      308879636.0
1  13114483482878900224 2019-04-09 13:04:04  ...        53800391.0      653384965.0
2  13114483484080500736 2019-04-09 17:42:11  ...        27883638.0      279807335.0
4  13114483499480700928 2019-04-12 20:10:23  ...        38542814.0      569138589.0
6  13114483501243799552 2019-04-13 08:41:59  ...        47925246.0       70562047.0

[5 rows x 55 columns]

In [ ]:
data.describe()

            Start ms         End ms  ...  Total UL (Bytes)  Total DL (Bytes)
count  150000.000000  150000.000000  ...      1.500000e+05      1.500000e+05
mean      499.188200     498.800880  ...      4.112121e+07      4.546434e+08
std       288.611834     288.097653  ...      1.127639e+07      2.441429e+08
min         0.000000       0.000000  ...      2.866892e+06      7.114041e+06
25%       250.000000     251.000000  ...      3.322201e+07      2.431068e+08
50%       499.000000     500.000000  ...      4.114331e+07      4.558411e+08
75%       749.000000     750.000000  ...      4.903424e+07      6.657055e+08
max       999.000000     999.000000  ...      7.833131e+07      9.029696e+08

[8 rows x 49 columns]

In [ ]:
data.dtypes

Bearer Id                                           object
Start                                       datetime64[ns]
Start ms                                           float64
End                                         datetime64[ns]
End ms                                             float64
Dur. (ms)                                          float64
IMSI                                               float64
MSISDN/Number                                      float64
IMEI                                               float64
Last Location Name                                  object
Avg RTT DL (ms)                                    float64
Avg RTT UL (ms)                                    float64
Avg Bearer TP DL (kbps)                            float64
Avg Bearer TP UL (kbps)                            float64
TCP DL Retrans. Vol (Bytes)                        float64
TCP UL Retrans. Vol (Bytes)                        float64
DL TP < 50 Kbps (%)                                float64
50 Kbps < DL TP < 250 Kbps (%)                     float64
250 Kbps < DL TP < 1 Mbps (%)                      float64
DL TP > 1 Mbps (%)                                 float64
UL TP < 10 Kbps (%)                                float64
10 Kbps < UL TP < 50 Kbps (%)                      float64
50 Kbps < UL TP < 300 Kbps (%)                     float64
UL TP > 300 Kbps (%)                               float64
HTTP DL (Bytes)                                    float64
HTTP UL (Bytes)                                    float64
Activity Duration DL (ms)                          float64
Activity Duration UL (ms)                          float64
Dur. (ms).1                                        float64
Handset Manufacturer                                object
Handset Type                                        object
Nb of sec with 125000B < Vol DL                    float64
Nb of sec with 1250B < Vol UL < 6250B              float64
Nb of sec with 31250B < Vol DL < 125000B           float64
Nb of sec with 37500B < Vol UL                     float64
Nb of sec with 6250B < Vol DL < 31250B             float64
Nb of sec with 6250B < Vol UL < 37500B             float64
Nb of sec with Vol DL < 6250B                      float64
Nb of sec with Vol UL < 1250B                      float64
Social Media DL (Bytes)                            float64
Social Media UL (Bytes)                            float64
Google DL (Bytes)                                  float64
Google UL (Bytes)                                  float64
Email DL (Bytes)                                   float64
Email UL (Bytes)                                   float64
Youtube DL (Bytes)                                 float64
Youtube UL (Bytes)                                 float64
Netflix DL (Bytes)                                 float64
Netflix UL (Bytes)                                 float64
Gaming DL (Bytes)                                  float64
Gaming UL (Bytes)                                  float64
Other DL (Bytes)                                   float64
Other UL (Bytes)                                   float64
Total UL (Bytes)                                   float64
Total DL (Bytes)                                   float64
dtype: object

In [ ]:
data.shape

(150001, 55)

Top 10 handset used by the Customers

In [ ]:
top10_handset = data['Handset Type'].value_counts()[:10]
top10_handset

Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Samsung Galaxy A5 Sm-A520F       3724
Name: Handset Type, dtype: int64

In [ ]:
top3_manufactures = data['Handset Manufacturer'].value_counts()[:3]
top3_manufactures

Apple      59565
Samsung    40839
Huawei     34423
Name: Handset Manufacturer, dtype: int64

In [ ]:
data1 = data.rename(columns = {'Handset Type' : 'Handset_Type'})

In [ ]:
data['Handset Type'].groupby(data['Handset Manufacturer']).value_counts()

Handset Manufacturer                     Handset Type
A-Link Telecom International Co Limited  A-Link Telecom I. Cubot X18 Plus     2
                                         A-Link Telecom I. Cubot A5           1
                                         A-Link Telecom I. Cubot Note Plus    1
                                         A-Link Telecom I. Cubot Note S       1
                                         A-Link Telecom I. Cubot Nova         1
                                                                             ..
Zte                                      Zte Mf626                            1
                                         Zte Starxtrem By Sfr                 1
ZyXEL Communications Corp                Zyxel Communicat. Zyxel Wah7706      1
Zyxel Communications Corp                Zyxel Communicat. Lte7460            1
                                         Zyxel Communicat. Sbg3600            1
Name: Handset Type, Length: 1395, dtype: int64

In [ ]:
data1.groupby(['Handset Manufacturer']).Handset_Type.value_counts()

Handset Manufacturer                     Handset_Type
A-Link Telecom International Co Limited  A-Link Telecom I. Cubot X18 Plus     2
                                         A-Link Telecom I. Cubot A5           1
                                         A-Link Telecom I. Cubot Note Plus    1
                                         A-Link Telecom I. Cubot Note S       1
                                         A-Link Telecom I. Cubot Nova         1
                                                                             ..
Zte                                      Zte Mf626                            1
                                         Zte Starxtrem By Sfr                 1
ZyXEL Communications Corp                Zyxel Communicat. Zyxel Wah7706      1
Zyxel Communications Corp                Zyxel Communicat. Lte7460            1
                                         Zyxel Communicat. Sbg3600            1
Name: Handset_Type, Length: 1395, dtype: int64

In [ ]:
dl = data.agg({'Social Media DL (Bytes)': ['min', 'max', 'mean'], 'Google DL (Bytes)':['min', 'max', 'mean'], 'Email DL (Bytes)': ['min', 'max', 'mean'],
               'Youtube DL (Bytes)': ['min', 'max', 'mean'], 'Netflix DL (Bytes)': ['min', 'max', 'mean'],'Gaming DL (Bytes)': ['min', 'max', 'mean'],
               'Other DL (Bytes)': ['min', 'max', 'mean'], 'Total DL (Bytes)': ['min', 'max', 'mean']})

dl

      Social Media DL (Bytes)  ...  Total DL (Bytes)
min              1.200000e+01  ...      7.114041e+06
max              3.586064e+06  ...      9.029696e+08
mean             1.795322e+06  ...      4.546434e+08

[3 rows x 8 columns]

In [ ]:
ul = data.agg({'Social Media UL (Bytes)': ['min', 'max', 'mean'], 'Google UL (Bytes)':['min', 'max', 'mean'], 'Email UL (Bytes)': ['min', 'max', 'mean'],
               'Youtube UL (Bytes)': ['min', 'max', 'mean'], 'Netflix UL (Bytes)': ['min', 'max', 'mean'],'Gaming UL (Bytes)': ['min', 'max', 'mean'],
               'Other UL (Bytes)': ['min', 'max', 'mean'], 'Total UL (Bytes)': ['min', 'max', 'mean']})
ul

      Social Media UL (Bytes)  ...  Total UL (Bytes)
min                   0.00000  ...      2.866892e+06
max               65870.00000  ...      7.833131e+07
mean              32928.43438  ...      4.112121e+07

[3 rows x 8 columns]